/* All custom css */

h1 {
  color: #6ac7ee;
}

button {
  /* margin-left: 280px; */
  position: relative;
  left: 250px;
  padding: 15px;
  font-size: 25px;
  margin-top: 40px
}

.flag-pole {
  width: 10px;
  height: 800px;
  float: left;
  position: absolute;
  z-index: 99;
  background-color: rgb(180, 148, 106);
}

.flag {
  background-color: #0b2269;
  height: 400px;
  width: 700px;
  position: relative;
}

.fa-star {
  -webkit-text-fill-color: #c8102e;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: white;
}

.union {
  position: absolute;
  max-width: 45%;
}

.bottom {
  font-size: 60px;
  position: absolute;
  bottom: 50px;
  right: 170px;
}

.left {
  font-size: 50px;
  position: absolute;
  bottom: 190px;
  right: 260px;
}

.right {
  font-size: 45px;
  position: absolute;
  bottom: 210px;
  right: 100px;
}

.top {
  font-size: 50px;
  position: absolute;
  bottom: 280px;
  right: 175px;
}
